<ul class="nav nav-pills p-4">
  <li class="nav-item">
    <a class="nav-link" href="add-user.html" routerLink="add-user" routerLinkActive="active">Add User</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="show-users.html" routerLink="users" routerLinkActive="active">Show users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="add-product.html" routerLink="add-product" routerLinkActive="active">Add Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="show-products.html" routerLink="products" routerLinkActive="active">Show products</a>
  </li>
</ul>
<div class="container">
  <router-outlet>

  </router-outlet>
</div>

